# phpstorm project files
.idea

# zend studio for eclipse project files
.buildpath
.project
.settings

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# itself is not needed
vendor